//= require posts

// Handy tool: http://www.sasstoscss.com/
//
@import "materialize/components/color";
$primary-color: color("grey", "darken-4") !default;
$link-color: rgb(38, 166, 154) !default;
$button-color: rgb(38, 166, 154) !default;
$body-background-color: #1a1d20 !default;
@import 'materialize';

@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
  background-color: #212121;
  color: #c7c7c7;
}

hr {
  border-color: #414141;
}

.parallax-container {
  min-height: 500px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);

  .section {
    width: 100%;

    @media only screen and (max-width: 992px) {
      position: absolute;
      top: 40%;
    }
  }

  @media only screen and (max-width : 600px) {
    min-height: 400px;
  }
}

#index-banner .section {
  @media only screen and (max-width : 992px) {
    top: 10%;
  }

  @media only screen and (max-width : 600px) {
    top: 0;
  }
}

.footer-container {
  background-color: #1e1e1e;
  color: #909090;
  min-height: 300px;
  padding-top: 30px;

  a {
    color: #47756c;
    text-decoration: underline;
  }
}


