// Handy tool: http://www.sasstoscss.com/
// Color scheme generator: http://paletton.com

//////
// Materialize Overwrites:
@import "materialize/components/color";
$primary-color: #26a69a;
$link-color: #26a69a;
$button-color: #26a69a;
$body-background-color: #212121;
$body-background-color-dark: #1e1e1e;
//
@import "materialize/components/variables";
$small-screen-up: 641px;
$medium-screen-up: 1025px;
$large-screen-up: 1201px;
$small-screen: 640px;
$medium-screen: 1024px;
$large-screen: 1200px;
//
////////

////////
// Local plugin imports
@import 'materialize';
//
///////

///////
// Project imports
// (global first)
@import 'variables';
@import 'mixins';

// (pages / components)
@import 'jumbotrons';
@import 'posts';
//
///////

///////
// External imports
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
//
///////

body {
  background-color: $body-background-color;
  color: #c7c7c7;
}

hr {
  border-color: $body-background-color-dark;
}

nav {
  background-color: $body-background-color-dark;
}

.footer-container {
  background-color: $body-background-color-dark;
  color: #909090;
  margin-bottom: 0;
  min-height: 300px;
  padding-top: 30px;

  a {
    color: $link-color;
    text-decoration: underline;
  }
}

#index-banner .section {
  @media #{$medium-down} {
    top: 10%;
  }

  @media #{$small-down} {
    top: 0;
  }
}

.parallax-container {
  min-height: 500px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);

  a {
    color: rgba(255,255,255,.9);
  }

  .section {
    width: 100%;

    @media #{$medium-down} {
      position: absolute;
      top: 40%;
    }
  }

  @media #{$small-down} {
    min-height: 430px;
  }
}

.yield {
  min-height: 900px;
}
