.posts.index {
  .parallax-container {
    h1, h5 {
      text-shadow: 0px 5px 9px rgba(20, 20, 20, 0.5);
    }
  }

  .post-abstract-card {
    background-color: #1e1e1e;
    padding: 5px 25px 30px;
  }
}
