.posts {
  .divider {
    background-color: #363636;
    margin-bottom: 10px;
  }

  &.index {
    .jumbotron-quote {
      line-height: initial;
      margin-bottom: 20px;
      text-shadow: 0px 2px 2px rgba(20, 20, 20, 0.3);

      @media #{$small-up} {
        margin-top: 150px;
      }

      @media #{$medium-up} {
        margin-top: 200px;
      }
    }

    .post-abstract-card {
      background-color: $body-background-color-dark;
      padding: 5px 25px 30px;

      .post-content {
        @import "markdown_styles";
      }
    }

    .parallax-container {
      h1, h5 {
        text-shadow: 0px 5px 9px rgba(20, 20, 20, 0.5);
      }
    }
  }
  &.show {
    .post-content {
      @import "markdown_styles";
    }

    .post-title {
      text-align: center;
    }
  }
}

